<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Good day!</h1>
        
        <form action="/login" method="POST">
            <label for"firstname">Firstname</label>
            <input type="text" name="firstname">
            <label for"lastname">Lastname</label>
            <input type="text" name="lastname">
            <input type="submit" value="submit" action="/login" method="POST" >
        </form>
    
    </body>
</html>